<div class="parent">
    <h2>Heading</h2>
    <div class="content" style="display:none">
        <p>Lorem ipsum dolor sit amet, vel eu audiam audire fabulas. Mea prompta debitis ei. Ad nec veri alienum. His ex wisi elitr. Eam lorem sonet explicari eu, suscipit vivendum per ut, ea cum dicat iudico evertitur.</p>
    </div>
</div>
<div class="parent">
    <h2>Heading</h2>
    <div class="content" style="display:none">
        <p>Lorem ipsum dolor sit amet, vel eu audiam audire fabulas. Mea prompta debitis ei. Ad nec veri alienum. His ex wisi elitr. Eam lorem sonet explicari eu, suscipit vivendum per ut, ea cum dicat iudico evertitur.</p>
    </div>
</div>
<div class="parent">
    <h2>Heading</h2>
    <div class="content" style="display:none">
        <p>Lorem ipsum dolor sit amet, vel eu audiam audire fabulas. Mea prompta debitis ei. Ad nec veri alienum. His ex wisi elitr. Eam lorem sonet explicari eu, suscipit vivendum per ut, ea cum dicat iudico evertitur.</p>
    </div>
</div>
