<div class="parent">
    <h2>History of Beer</h2>
    <div class="content" style="display:none">
        <p>Man has been brewing beer for as long as he is farming. Agriculture developed in the fertile lands of the eastern Mediterranean about 8,000 years ago when wild cereals were ‘tamed’ and cultivated for the first time. Grain was eaten as a porridge, ground to make bread and brewed as beer. Brewing and bread making developed in tandem and beer, sometimes called ‘liquid bread’, was an integral part of man’s diet, being both nutritious and thirst quenching.</p>

        <p>As agriculture spread, so too did brewing. Ireland’s first farmers settled here about 5,000 years ago and these people were our first brewers.</p>

        <p>Since these early days, a strong brewing tradition has developed throughout Ireland, initially by retail brewers, the owners of taverns and alehouses who brewed beer for sale on their own premises. In the 1720s a dark beer known as porter was developed in London and quickly became the popular in Ireland. Large volumes were imported from England through the middle decades of the century.</p>

        <p>Irish entrepreneurs saw the potential and a number of commercial breweries were established in the later 1700s. Tea and coffee had not yet become accessible to the majority of the population and as drinking water was of poor quality, beer provided a safe and sterile drink which was enjoyed by all.</p>

        <p>Throughout the 1800s and 1900s, brewing in Ireland really came into its own with the
        founding of many famous breweries - most of which are still in operation today. Check out our Beer Timeline for a list of key dates.</p>
    </div>
</div>
<div class="parent">
    <h2>Craft Ale vs Commerical Beer</h2>
    <div class="content" style="display:none">
        <p>Craft beers are produced in the old, artisanal fashion, while modern day commercial breweries operate on a massive scale. Due to the sheer volume of beer being brewed by these giants, quality control and premium ingredients have taken a backside to mass production and cost effectiveness. They tend to take the cheapest ingredients available, including inferior six row barley, substandard hops, and chemically treated water to make huge quantities of beer at a fraction of the cost it takes to make a real beer. Craft brewers take pride in the ingredients they use, selecting high grade barley and just the right hops to give their particular beer the flavor and consistency it deserves. This makes for a brew that is far superior to the institutionalized, mass produced products made by some corporate giants.
        The main difference between craft beers and commercially brewed beer is the flavor. When you first taste a craft beer, you are having a sip of the hard work and dedication that went into creating that carbonated fermented masterpiece. Whereas commercial beer can taste flat, stale, or like nothing at all, a craft beer is a phenomenal cornucopia of different flavors, and each one can be savored as in a fine wine. Craft beer brewers spend a huge amount of time perfecting each and every keg that goes out, ensuring a high quality and superior brew that they can be proud of, and that people can enjoy as much as if they had brewed it themselves.</p>
    </div>
</div>
<div class="parent">
    <h2>Process of the Brew</h2>
    <div class="content" style="display:none">
    <img src="/assets/how brew poster.png">
    </div>
</div>
<div class="video">
  <iframe src="//player.vimeo.com/video/32731091" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/32731091"></a><a href="http://vimeo.com/brewdog"></a><a href="https://vimeo.com"></a>.</p>
</div>
<div class="parent">
    <h2>Craft Beer Jargon</h2>
    <div class="content" style="display:none">
        <p><strong>Craft Beer</strong>
        Beer from a craft brewery. That’s an independent brewery with an annual production of no more than six million barrels. The brewery uses traditional malting methods to make its tipples.</p>

        <p><strong>ABV</strong>
        Alcohol by Volume: the percentage of your beer. 4.5%: you’ll feel OK in the morning. 6.6%: wow—that went fuzzy fast. 11%: HELLO MOM I LOVE YOU.</p>

        <p><strong>Malt</strong>
        Fermented grains, usually barley. They’re the base of all beer, and they have a rich, sweet, earthy flavor.</p>

        <p><strong>Hops</strong>
        The flowers which give beer its characteristic bitterness, as well as a heady floral aroma. Hoppy beers are very trendy amongst craft breweries, for better or for worse.</p>

        <p><strong>IBU</strong>
        International Bitterness Units. How bitter, and therefore how hoppy, a beer is. Lagers start at five IBUs. IPAs tend to be around 40-60. Much higher than that, and you can’t really tell the difference.</p>

        <p><strong>Pale Ale</strong>
        Covers a vast range of beers made with pale malt. Includes English bitters, plus (in increasing strength of flavor and maltiness) blonde, amber/red and brown ales.</p>

        <p><strong>IPA</strong>
        India Pale Ale. Originally brewed by the English for consumption in South Asia, they’ve since been adopted by American craft breweries and have spearheaded the US craft movement. Hyper-floral and hoppy.</p>

        <p><strong>Lager</strong>
        Pale, golden. You know the stuff.</p>

        <p><strong>Wheat beer</strong>
        Brewed with wheat as well as malt to give a light, slightly sour flavor.</p>

        <p><strong>Saison</strong>
        Belgian farmhouse-style pale ale. Bubbly, fruity and spiced.</p>

        <p><strong>Porter / Stout</strong>
        Strong, dark-brown or black beer. Smoky and rich. Often tastes of coffee or chocolate.</p>

        <p><strong>“Session” beer</strong>
        An easy-to-drink beer of about 4.5% ABV. Quaffable over an extended “session” without the need to go be sick in a bush</p>
    </div>
</div>








