<div class="topheader"><strong><h1>⟰ How To Homebrew Beer In Your Kitchen ⟰</h1><strong></div>
  <div id="fontmaster">
    <div id="DIV_1">
      <div id="DIV_4">
        <div id="DIV_5">
          <div id="DIV_6">
          </div>
          <div id="DIV_9">

            </div>
          <div id="DIV_22">
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js" id="SCRIPT_23">{"ar"}
                </script>
                <div id="DIV_24">
                  </div>
              </div>
        </div>
        <div id="DIV_28">
                <img src="/assets/HomeBrewPoster.jpg" alt="Image" height="400" width="267" id="IMG_29" />
              </div>
        <p id="P_31">
                Brewing beer in your home can be as simple, or as complicated, as you want to make it. Here, we’re going to present the simple way. There is a lot of science you can get into, but we’re going to skip a lot of that as there are a lot of people who can tell you about it a lot better than we can. And they have books out (<a href="http://www.howtobrew.com" id="A_32">John Palmer’s <i id="I_33">How to Brew</i></a> (online), and <a href="http://www.homebrewing.org/The-Complete-Joy-of-Homebrewing-Charlie-Pappazian_p_1085.html?AffId=20" id="A_34">Charlie Papazian’s <i id="I_35">The Complete Joy of Homebrewing</i></a>). We’d recommend reading these books at some point. You’ll learn a lot about why everything happens, how brewing really works and just a lot more in-depth information. If you want to make this a serious hobby, those are two can’t miss books.
              </p>
        <p id="P_36">
                In this article, though, we’re going to run through step-by-step how to brew in a small kitchen setting. We know many of you live in apartments (we do), and we’ve heard too many people say they can’t brew because of this. You can! We know this, because we do it. We’ll show you how to go about brewing your first batch. Plus, we’re including pictures to really show you how it’s done. So, let’s get brewing!
              </p>
        <p id="P_37">
                <b id="B_38">Step 0:</b><p>Yes there is a Step 0, before you brew you need to decide what you want to brew and how you're going to brew it. Are you going to brew "all-grain" or "extract?" All grain brewing is how your favorite craft breweries make their beer. This process starts with malted barley, and you actually convert the starches to sugar yourself.</p>
                <p>You get more control over the final product, as you control everything that goes into the beer, and the process of the mash. That being said, with extract somebody has basically done the mash for you, then dehydrated the resulting wort for ease of transport and use for you. Either way works just fine and will yield a great beer with the right recipe. We started out on extract.</p> Once you get the process down you can move up to all-grain pretty cheaply. That being said, this article will show you how to do all-grain. If you are brewing extract, just shoot down to Step 7. From that point on, it's the same process. You just get to skip some steps.
              </p>
        <p id="P_39">
                Now, it's time to decide what type of beer you want to brew and a recipe. This is actually easier than most make it out to be. Just choose a style you like and go for it. We recommend using <a href="http://www.beertools.com" id="A_40">BeerTools.com</a> to get your recipe. Also, you can get info on grains for your recipe here: <a href="http://www.beersmith.com/Grains/Grains/GrainList.htm" id="A_41">http://www.beersmith.com/Grains/Grains/GrainList.htm</a>. BeerTools.com offers a great resource for recipes and allows you to easily craft your own as well. Most basic recipes will, and should, use “2 row” or Pilsner malt as the base grain. You want to make sure you mill your grain before you brew. Your local homebrew shop should have a mill. If they don’t you may need to invest in a mill or order online where you can order pre-milled grain. Only mill what you need for this recipe, as the grain will last much longer un-milled. Do not mill the grain too much; you just want to break the hull and expose the starchy inside that will be turned into sugar. Also, the hull will later act as a filter, so if it’s crushed to much it will not perform this function well and you could get a stuck sparge (more on that later).
              </p>
        <p id="P_42">
                <i id="I_43">Special note: We realize that not everyone has access to a home brew shop. If this is the case for you, you can still brew. Milled and un-milled grain as well as malt extract is available online, we recommend <a href="http://www.homebrewing.org?AffId=20" id="A_44">HomeBrewing.org</a></i><i id="I_45">. You can buy your <a href="http://www.homebrewing.org/Grains-by-the-Pound_c_105.html?AffId=20" id="A_46">grain</a> or <a href="http://www.homebrewing.org/Dry-and-Liquid-Malt-Extract_c_193.html?AffId=20" id="A_47">malt extract</a>, <a href="http://www.homebrewing.org/Pellet-Hops_c_18.html?AffId=20" id="A_48">hops</a>, <a href="http://www.homebrewing.org/Yeast_c_1.html?AffId=20" id="A_49">yeast</a> or <a href="http://www.homebrewing.org/AIH-Recipes_c_190.html?AffId=20" id="A_50">pre-built recipes</a> there.</i> <a href="http://www.beertools.com" id="A_51"><i id="I_52">BeerTools.com</i></a> <i id="I_53">allows you to construct recipes using extract as well. If you choose to follow the malt extract method skip to Step 7. Malt extract brewing is also a good way to start and get some of the fundamentals down. You can always move on to all-grain later for very little money. This is what we did.</i>
              </p>
        <p id="P_54">
                <b id="B_55">What You’ll Need:</b>
                - 5 gallon pot - Bottling bucket - Fermentation bucket or glass carboy - Phil’s False Bottom - Tubing -Stopper - Clamp for the tubing
                Get everything you need in Homebrewing.org's Basic Homebrewing Kit (make sure to add-on the 5 gallon brew pot, long stem thermometer and auto-siphon). - Auto-siphon - Hydrometer - Glass beer bottles - Caps for the bottles - Capper - Bottling wand - Iodophor (for sanitizing)</p>
              </p>
        <table id="TABLE_56">
                <tbody id="TBODY_57">
                  <tr id="TR_58">
                    <td id="TD_59">
                      - 5 gallon pot<br id="BR_61" /> - Bottling bucket<br id="BR_62" /> - Fermentation bucket or glass carboy<br id="BR_63" /> - Phil’s False Bottom<br id="BR_64" /> - Tubing<br id="BR_65" /> - Stopper<br id="BR_66" /> - Clamp for the tubing<br id="BR_67" />
                    </td>
                    <td id="TD_69">
                      - Auto-siphon<br id="BR_71" /> - Hydrometer<br id="BR_72" /> - Glass beer bottles<br id="BR_73" /> - Caps for the bottles<br id="BR_74" /> - Capper<br id="BR_75" /> - Bottling wand<br id="BR_76" /> - Iodophor (for sanitizing)
                    </td>
                  </tr>
                </tbody>
              </table>
        <p id="P_77">
                <b id="B_78">THE MASH</b>
              </p>
        <p id="P_79">
                The mash is the first step in making beer after your grain is all set. In malted grain, there is starch and enzymes that can convert this starch in sugar. These enzymes are active at the temperatures you will mash at. In this way, you get sugar from the grain, which is food for the yeast to later produce alcohol and carbon dioxide for your beer. The grain will also give your beer it’s flavor and color.
              </p>
        <p id="P_80">
              </p>
        <div id="DIV_82">
                <img src="/assets/Homebrew2.jpg" alt="Image" height="267" width="400" id="IMG_83" />
                <div id="DIV_84">
                  Boiling Water
                </div>
              </div>
        <p id="P_85">
                <b id="B_86">Step 1:</b> Turn on your burner and heat the water. You should heat 1 quart of water per pound of grain. You can either use your kitchen stove or a dedicated outdoor burner. Both will do the job, the outdoor burner just does it a bit faster.
              </p>
        <p id="P_87">
              </p>
        <p id="P_89">
                <b id="B_90">Step 2:</b> Heat water to 160 degrees. Once you reach this temperature, add your grain. This is called “mashing in.” The consistency should be that of thin oatmeal. If the mash it too thick, you will not have the enzymes moving around enough to convert the starch to sugar. If the mash is too thin, there will not a high enough concentration of the necessary enzymes to convert the starch into sugar. Once grain is added temperature will drop to around 150 degrees.
              </p>
        <p id="P_91">
              </p>
        <p id="P_93">
                <b id="B_94"></b>
              </p>
        <p id="P_95">
                <b id="B_96"></b>
              </p>
        <p id="P_97">
                <b id="B_98"></b>
              </p>
        <p id="P_99">
                <b id="B_100"></b>
              </p>
        <p id="P_101">
                <b id="B_102"></b>
              </p>
        <div id="DIV_103">
                <b id="B_104"><img src="/assets/Homebrew3.jpg" alt="Image" height="400" width="267" id="IMG_105" /></b>
                <div id="DIV_106">
                  The Mash
                </div>
              </div>
        <p id="P_107">
                <b id="B_108">Step 3:</b> You will want to maintain the temperature of your mash between 144-158 degrees for 60 minutes for a regular beer (if you are doing a high gravity beer over 8% this step is 90 minutes). Stir every 10 minutes or so and take temperature readings from multiple locations. Stirring is key during the mash process. Stir constantly while applying heat, as the bottom will tend to get hotter than the top and might scorch the grain. You also need to make sure the enzymes spread around enough to turn all the starch into sugar. There is a lot of mass and water in your mash, though, so you don’t need to apply heat constantly. Get it up to temperature, and then put a lid on it to keep in heat.
              </p>
        <p id="P_109">
              </p>
        <p id="P_111">
              </p>
        <p id="P_113">
              </p>
        <p id="P_115">
              </p>
        <p id="P_117">
              </p>
        <p id="P_119">
              </p>
        <p id="P_121">
                The hotter you mash at the more body your beer will have. This is because, in the higher temperatures of this range, you are producing more unfermentable sugars. Don’t worry too much here, you really can’t screw your beer up too much at this point as long as you stay within this range, for most beers, Pale Ales, IPAs, regular stouts you want to be around 144-152. For a stout or any beer with more body, go up a bit. Do not keep your mash above 155 degrees for the entire time, as your beer will most likely end up overly sweet and very thick, with few sugars that yeast can turn into alcohol.
              </p>
        <p id="P_122">
              </p>
        <p id="P_124">
                <b id="B_125">Step 4:</b> Heat up the mash to 170 degrees Fahrenheit, while stirring constantly to prevent the grain from scorching. At 170 degrees, you end the process where the enzymes convert starch into sugar. This is called “mashing out.”
              </p>
        <p id="P_126">
                You have now completed your mash process and now it’s time to sparge.
              </p>
        <p id="P_127">
                <b id="B_128">THE SPARGE</b>
              </p>
        <p id="P_129">
                During your mash process you introduced water to your milled grain. The heated water and the enzymes from the grain converted the starch in the grain into sugar. Now we need to remove those sugars. The sparge process helps remove sugar water (known as wort) from the grain/water mixture you have made. These sugars will later be converted to alcohol by the yeast.
              </p>
        <p id="P_130">
              </p>
        <p id="P_132">
                <b id="B_133"></b>
              </p>
        <p id="P_134">
                <b id="B_135"></b>
              </p>
        <p id="P_136">
                <b id="B_137"></b>
              </p>
        <p id="P_138">
                <b id="B_139"></b>
              </p>
        <p id="P_140">
                <b id="B_141"></b>
              </p>
        <div id="DIV_142">
                <b id="B_143"><img src="/assets/Homebrew4.jpg" alt="Image" height="267" width="400" id="IMG_144" /></b>
                <div id="DIV_145">
                  Phil's False Bottom
                </div>
              </div>
        <p id="P_146">
                <b id="B_147">Step 5:</b> To begin the sparge process, convert your bottling bucket into a lauter tun. How to build a lauter tun:<br id="BR_148" /> a) Insert Phil’s False Bottom attached to stopper and hose<br id="BR_149" /> b) Fit stopper to hole in bottling bucket<br id="BR_150" /> c) Clamp off hose
              </p>
        <p id="P_151">
              </p>
        <p id="P_153">
              </p>
        <p id="P_155">
              </p>
        <p id="P_157">
              </p>
        <p id="P_159">
              </p>
        <p id="P_161">
              </p>
        <p id="P_163">
                <b id="B_164">Step 6:</b> First, you will add 170 degree water to your lauter tun, filling to at least 3 inches above the Phil’s False Bottom. This will help prevent a stuck sparge.
              </p>
        <p id="P_165">
                <b id="B_166"></b>
              </p>
        <p id="P_167">
                <b id="B_168"></b>
              </p>
        <p id="P_169">
                <b id="B_170"></b>
              </p>
        <p id="P_171">
                <b id="B_172"></b>
              </p>
        <p id="P_173">
                <b id="B_174"></b>
              </p>
        <div id="DIV_175">
                <b id="B_176"><img src="/assets/Homebrew5.jpg" alt="Image" height="400" width="267" id="IMG_177" /></b>
                <div id="DIV_178">
                  Water into the Lauter Tun
                </div>
              </div>
        <p id="P_179">
                <b id="B_180"></b> You now want to add the contents of your mash tun to the bucket. Be careful here as a) the contents will be quite hot and have a tendency to splash and b) if you pour it too hard, you will compact the grain, causing a stuck sparge… which is kind of bad and real obnoxious.
              </p>
        <p id="P_181">
              </p>
        <p id="P_183">
              </p>
        <p id="P_185">
              </p>
        <p id="P_187">
              </p>
        <p id="P_189">
              </p>
        <p id="P_191">
              </p>
        <p id="P_193">
                Once the full contents of your mash tun have been added you can begin the sparge process. We highly recommend you use a sparge arm at this stage. A sparge arm distributes water lightly and evenly over the grain you just added (preventing a stuck sparge)... We don’t have one, though, and we’ve done fine. You can now open the clamp on your hose slightly. You want a slow and even flow back into your brew pot (which you rinsed out after putting the contents into the lauter tun). Releasing too much liquid too fast will result in a stuck sparge, to put more simply, the water will leave too fast and the grain will go dry creating a stuck gooey mush (there it is, that’s what a stuck sparge is!).
              </p>
        <p id="P_194">
              </p>
        <p id="P_196">
              </p>
        <p id="P_198">
              </p>
        <div id="DIV_200">
                <img src="/assets/Homebrew5.jpg" alt="Image" height="400" width="267" id="IMG_201" />
                <div id="DIV_202">
                  Transfer to Lauter Tun
                </div>
              </div>
        <div id="DIV_203">
                <img src="/assets/Homebrew6.jpg" alt="Image" height="400" width="267" id="IMG_204" />
                <div id="DIV_205">
                  Collecting to Recirculate
                </div>
              </div>
        <div id="DIV_206">
                <img src="/assets/Homebrew7.jpg" alt="Image" height="400" width="267" id="IMG_207" />
                <div id="DIV_208">
                  Recirculating Wort
                </div>
              </div>
        <div id="DIV_209">
                <img src="/assets/Homebrew8.jpg" alt="Image" height="400" width="267" id="IMG_210" />
                <div id="DIV_211">
                  Collecting Wort
                </div>
              </div>
        <p id="P_212">
              </p>
        <p id="P_214">
                You will need to have extra hot water around, at 170 degrees, as you don’t have enough liquid in the mash to sparge (we usually have 2 gallons). Using a sparge arm you will slowly add this hot water (if you have no sparge arm, just pour in the water lightly and evenly). You don’t want the grain/liquid mix to get too cool here, or it will runoff slower and the risk of a stuck sparge will increase. The liquid you are extracting at this stage is called your “wort.” You want to recirculate your wort a few times to make sure you’ve extracted all the available sugars from your grain. Do this until the worst runs clear (without grain particles in it), then you can fill your brew pot with your wort.
              </p>
        <p id="P_215">
              </p>
        <p id="P_217">
              </p>
        <p id="P_219">
              </p>
        <p id="P_221">
              </p>
        <p id="P_223">
                <b id="B_224">THE BOIL</b>
              </p>
        <p id="P_225">
                Ok it may seem like its taken a bit to get to this point, but we promise it’s easier than it sounds. Really anyone can do this... People have been doing this for thousands of years and they didn’t have anyone telling them what to do, so you’ll be fine. You now have a brew pot full of wort and it’s time to start brewing. R
                 ight now, the wort is just sugar water. You’re going to boil it to sanitize it and to boil off some chemicals that will lend your beer an off-taste. Also, you’ll add hops in this stage to balance the sweetness of the beer. <b id="B_227">IMPORTANT NOTE:</b> <i id="I_228">Anything that touches the wort after the boil must be sanitized. Follow the directions on the Iodophor bottle for this. Anything you don’t sanitize that touches the wort may introduce an infection into your beer.</i>
              </p>
        <p id="P_229">
                </p>
        <p id="P_231">
                  <b id="B_232"></b>
                </p>
        <p id="P_233">
                  <b id="B_234"></b>
                </p>
        <p id="P_235">
                  <b id="B_236"></b>
                </p>
        <p id="P_237">
                  <b id="B_238"></b>
                </p>
        <p id="P_239">
                  <b id="B_240"></b>
                </p>
        <div id="DIV_241">
                  <b id="B_242"><img src="/assets/Homebrew9.jpg" alt="Image" height="400" width="267" id="IMG_243" /></b>
                  <div id="DIV_244">
                    Starting the Boil
                  </div>
                </div>
        <p id="P_245">
                  <b id="B_246">Step 7:</b> It’s time to brew! (Special Note: If brewing with extract, bring water to boil, add extract while constantly stirring, and wait for hot break.) You want to heat your wort until it boils. Keep boiling until you hit your hot break. You will know you’ve hit your hot break as the wort will foam, you may need to reduce your heat slightly to avoid boil over, but after a few minutes the foaming will subside. Continue to stir occasionally throughout the boil. All you want is a light boil. You don’t need anything extreme. A too vigorous boil will do a few things. First, you’ll boil off more water and get less beer. Secondly, you can caramelize sugars in the wort and get a sweeter beer with less alcohol.
                </p>
        <p id="P_247">
                </p>
        <p id="P_249">
                </p>
        <p id="P_251">
                </p>
        <p id="P_253">
                </p>
        <p id="P_255">
                </p>
        <p id="P_257">
                </p>
        <div id="DIV_259">
                  <img src="/assets/Homebrew10.jpg" alt="Image" height="267" width="400" id="IMG_260" />
                  <div id="DIV_261">
                    Hot Break
                  </div>
                </div>
        <p id="P_262">
                </p>
        <p id="P_264">
                  <b id="B_265">Step 8:</b> Once you’ve passed the hot break you can now add your bittering hops. Start your timer here and your boil will last 1 hour. (90 minutes if it’s a high gravity beer over 8% abv). These are the hops that will make your beer bitter to counteract the sweetness which beer naturally has. They won’t really impart any flavor. Compounds in hops, when boiled, isomerize over time which turns them from volatile smelly oils into stable and bitter compounds.
                </p>
        <p id="P_266">
                </p>
        <p id="P_268">
                </p>
        <p id="P_270">
                  <b id="B_271"></b>
                </p>
        <p id="P_272">
                  <b id="B_273"></b>
                </p>
        <p id="P_274">
                  <b id="B_275"></b>
                </p>
        <p id="P_276">
                  <b id="B_277"></b>
                </p>
        <p id="P_278">
                  <b id="B_279"></b>
                </p>
        <div id="DIV_280">
                  <b id="B_281"><img src="/assets/Homebrew11.jpg" alt="Image" height="400" width="267" id="IMG_282" /></b>
                  <div id="DIV_283">
                    Adding Hops
                  </div>
                </div>
        <p id="P_284">
                  <b id="B_285">Step 9:</b> At 45 minutes into the boil you will add your flavoring hops (75 minutes in for a high gravity beer). These isomerizes for much less time, so will add a hop flavor to your beer, it will be much like what the hops smell like.
                </p>
        <p id="P_286">
                </p>
        <p id="P_288">
                </p>
        <p id="P_290">
                </p>
        <p id="P_292">
                </p>
        <p id="P_294">
                </p>
        <p id="P_296">
                </p>
        <p id="P_298">
                  <b id="B_299">Step 10:</b> At 55-59 minutes into the boil you will add your finishing hops (aka aroma hops) (85-89 minutes for a high gravity beer). This addition will leave all the volatile oils in the beer. This will be the hop smell you get.
                </p>
        <p id="P_300">
                </p>
        <div id="DIV_302">
                  <img src="/assets/Homebrew12.jpg" alt="Image" height="267" width="400" id="IMG_303" />
                  <div id="DIV_304">
                    Cooling the Wort
                  </div>
                </div>
        <p id="P_305">
                  <b id="B_306">Step 11:</b> Once your boil is complete, you want to cool your wort as fast as possible. A tub or sink full of ice water will achieve this. Cool your wort to 65-75 degrees (your yeast packet/vial should have instructions for the ideal temperature for the strain you’re using).
                </p>
        <p id="P_307">
                </p>
        <p id="P_309">
                </p>
        <p id="P_311">
                </p>
        <p id="P_313">
                </p>
        <p id="P_315">
                </p>
        <p id="P_317">
                </p>
        <p id="P_319">
                </p>
        <p id="P_321">
                  <b id="B_322"></b>
                </p>
        <p id="P_323">
                  <b id="B_324"></b>
                </p>
        <p id="P_325">
                  <b id="B_326"></b>
                </p>
        <p id="P_327">
                  <b id="B_328"></b>
                </p>
        <p id="P_329">
                  <b id="B_330"></b>
                </p>
        <div id="DIV_331">
                  <b id="B_332"><img src="/assets/Homebrew13.jpg" alt="Image" height="400" width="267" id="IMG_333" /></b>
                  <div id="DIV_334">
                    Transferring Wort to Fermenter
                  </div>
                </div>
        <p id="P_335">
                  <b id="B_336">Step 12:</b> Once your wort is cool, transfer your wort to a carboy or fermentation bucket. Feel free to do this roughly, as you want to dissolve oxygen into the wort. During this step, pour a little into a tube and check your Original Gravity (OG) (water has a gravity of 1.000) with a hydrometer. The gravity is a measure of how much sugar is dissolved in the water of your wort.
                </p>
        <p id="P_337">
                </p>
        <p id="P_339">
                </p>
        <p id="P_341">
                </p>
        <p id="P_343">
                </p>
        <p id="P_345">
                </p>
        <p id="P_347">
                </p>
        <p id="P_349">
                </p>
        <p id="P_351">
                </p>
        <p id="P_353">
                </p>
        <p id="P_355">
                </p>
        <p id="P_357">
                </p>
        <p id="P_359">
                </p>
        <p id="P_361">
                </p>
        <p id="P_363">
                </p>
        <p id="P_365">
                  <b id="B_366"></b>
                </p>
        <p id="P_367">
                  <b id="B_368"></b>
                </p>
        <p id="P_369">
                  <b id="B_370"></b>
                </p>
        <p id="P_371">
                  <b id="B_372"></b>
                </p>
        <p id="P_373">
                  <b id="B_374"></b>
                </p>
        <div id="DIV_375">
                  <b id="B_376"><img src="/assets/Homebrew14.jpg" alt="Image" height="400" width="267" id="IMG_377" /></b>
                  <div id="DIV_378">
                    Pitching the Yeast
                  </div>
                </div>
        <p id="P_379">
                  <b id="B_380">FERMENTATION</b>
                </p>
        <p id="P_381">
                </p>
        <p id="P_383">
                </p>
        <p id="P_385">
                </p>
        <p id="P_387">
                </p>
        <p id="P_389">
                </p>
        <p id="P_391">
                </p>
        <p id="P_393">
                  If this is your first beer, the fermentation time may seem like forever. This is the most important step, though, so don’t rush it. The sugar you created in the mash is now being eaten by yeast, who are expelling alcohol and carbon dioxide. IMPORTANT NOTE: Sanitize everything your beer is going to touch. This includes tubing, bottling bucket, bottles, caps, siphon… everything.
                </p>
        <p id="P_394">
                  <b id="B_395">Step 13:</b> Add yeast to your wort, aerate vigorously and secure a blow-off tube into a bucket of sanitizer. You are now fermenting your beer. Congratulations! Leave your beer alone until you hit your Final Gravity (FG) (two weeks is usually a safe bet on beers under 8% abv). If you think you’re close, use a sanitized auto-siphon or beer thief to take a sample and check gravity.
                </p>
        <p id="P_396">
                </p>
        <p id="P_398">
                </p>
        <p id="P_400">
                </p>
        <p id="P_402">
                  <b id="B_403">BOTTLING</b>
                </p>
        <p id="P_404">
                  Now that the yeast have eaten the sugar in your wort… YOU HAVE BEER! Congratulations! Now, you’re almost there. It’s time to bottle. This step will carbonate your beer (nobody likes flat beer) and give you a way to transport it. You can also keg, but we’ve never done that. There are some books that will tell you how to do that.
                </p>
        <p id="P_405">
                </p>
        <div id="DIV_407">
                  <img src="/assets/Homebrew15.jpg" alt="Image" height="400" width="267" id="IMG_408" />
                  <div id="DIV_409">
                    Sanitizing Bottles
                  </div>
                </div>
        <p id="P_410">
                </p>
        <p id="P_412">
                  <b id="B_413">Step 14:</b> For 5 gallons of beer, dissolve 2/3 of a cup of white sugar in just enough water to leave no sugar grains, and boil for 10 minutes. Add this solution to your bottling bucket. In primary fermentation, the yeast converted all the fermentable sugar into alcohol and carbon dioxide. This carbon dioxide just escaped into the air, though. Adding this little bit of sugar will give the yeast some more food, which will provide them with the fuel to produce more carbon dioxide. Because you will cap your bottles of beer so that air can’t get out, this carbon dioxide will carbonate the beer. This is known as bottle conditioning, which means the beer was naturally carbonated in the bottle. Also, this means your beer is a living thing, as the yeast will continually work to condition the beer, cleaning up certain fermentation by-products.
                </p>
        <p id="P_414">
                </p>
        <p id="P_416">
                </p>
        <p id="P_418">
                </p>
        <p id="P_420">
                </p>
        <p id="P_422">
                  <b id="B_423">Step 15:</b> Once the sugar is added, use an auto-siphon to siphon your beer into your bottling bucket. Do this gently so you don’t oxidize your beer. Once all your beer is in the bucket and the sugar is evenly dispersed about your beer you can begin bottling. Insert the bottling wand into each bottle and fill. You’ll want about an inch of space left after you pull the wand out. Do a few and you’ll get the hang of it. Cap each beer as you fill them using the capper that came with your brew kit.
                </p>
        <p id="P_424">
                </p>
        <div id="DIV_426">
                  <img src="/assets/Homebrew16.jpg" alt="Image" height="400" width="267" id="IMG_427" />
                  <div id="DIV_428">
                    Siphoning to Bottling Bucket
                  </div>
                </div>
        <div id="DIV_429">
                  <img src="/assets/Homebrew17.jpg" alt="Image" height="400" width="267" id="IMG_430" />
                  <div id="DIV_431">
                    Filling Bottles
                  </div>
                </div>
        <div id="DIV_432">
                  <img src="/assets/Homebrew18.jpg" alt="Image" height="400" width="267" id="IMG_433" />
                  <div id="DIV_434">
                    Capping
                  </div>
                </div>
        <p id="P_435">
                </p>
        <p id="P_437">
                </p>
        <p id="P_439">
                </p>
        <p id="P_441">
                </p>
        <p id="P_443">
                </p>
        <p id="P_445">
                </p>
        <p id="P_447">
                </p>
        <p id="P_449">
                </p>
        <p id="P_451">
                </p>
        <p id="P_453">
                </p>
        <p id="P_455">
                </p>
        <p id="P_457">
                  <b id="B_458">Step 16:</b> Wait 1-2 weeks or so and open a beer. Do you hear a hiss? Pour it. Does it foam? If you answer “yes” to both these questions, congratulations, you’ve now just made homebrewed beer! Drink and enjoy! Post your success stories on our forum or email us to let us know. Cheers!
                </p>
        <p id="P_459">
                  Happy Homebrewing!
                </p>
        <p id="P_462">
                </p>
        <p id="P_464">
                </p>
        <p id="P_466">
                </p>
        <p id="P_468">
                </p>
        <p id="P_470">
                </p>
        <p id="P_472">
                </p>
        <p id="P_474">
                </p>
        <p id="P_476">
                </p>
        <p id="P_478">
                </p>
        <p id="P_480">
                </p>
        <p id="P_482">
                </p>
        <p id="P_484">
                </p>
        <p id="P_486">
                </p>
        <p id="P_488">
                </p>
        <p id="P_490">
                </p>
        <p id="P_492">
                </p>
        <p id="P_494">
                </p>
        <p id="P_496">
                </p>
      </div>
  </div>
</div>