<div id="listen"></div>

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="/assets/craft-beer-tasting-notes-collage-sept-17.png">
           <div class="carousel-caption">
            <h4><a href="#">A Winter Selection - Not as Stouty as you might expect</a></h4>
            <p>Warm your belly with the seasonal selection of brews on our list of the Top 10 Winter Beers </p><a class="label label-primary" href="http://beer.about.com/od/beerrecommendations/tp/10WinterBeers.htm" target="_blank">Click to read more!</a>
          </div>
        </div><!-- End Item -->

         <div class="item">
          <img src="/assets/taps.jpg">
           <div class="carousel-caption">
            <h4><a href="#">-London Craft Beer Festival-</a></h4>
            <p>London Craft Beer Festival is back with another great line-up of breweries and beers. 24 breweries will be here pouring you the best beers they brew. With a commitment to pure quality, from London, the UK, Europe and this year the USA, expect beers to fuel the imagination and delight the senses… </p><a class="label label-primary" href="http://www.londoncraftbeerfestival.co.uk/home/" target="_blank">Click to read more!</a>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="/assets/craft-beer-tasting-notes-dec-10-collage-550x309.png">
           <div class="carousel-caption">
            <h4><a href="#">How Much Art Is In Your Beer?</a></h4>
            <p>In the era of “big beer,” when smaller craft producers were just starting to emerge, overt marketing was seen as something only done by major brands — thus having a visual identity that was endearingly unprofessional (or “quirky and amateurish” as the great designer Milton Glaser told the New York Times) was essential in distinguishing independent companies from the Budweisers and Coors of the world. </p><a class="label label-primary" href="http://www.foodrepublic.com/2014/10/09/inside-brave-new-world-craft-beer-packaging-design" target="_blank">Click to view article</a>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="/assets/craft-beer-infographic.png">
           <div class="carousel-caption">
            <h4><a href="#">Defining Craft Beer: What Make a Craft Beer?</a></h4>
            <p>When trying to define craft beer, each beer lover has a unique interpretation and story of discovery to share. To make a true craft beer definition even more difficult, each individual beer brand is one of a kind. There are, however, certain elements that are the same in all craft beers and their breweries. </p><a class="label label-primary" href="http://www.brewdog.com/blog-article/defining-craft-beer" target="_blank">Click to view article</a></p>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="/assets/oldfashioned.jpg">
           <div class="carousel-caption">
            <h4><a href="#">A Journey Back In Time - Going back to the Ol' Skool!</a></h4>
            <p>A newly established initiative educating people about the beer making process going back to how things were done in the middle-ages. This is a touring workshop, initially starting in the UK, travelling all around mainland Europe and making it's way over to North America in early 2015.  </p><a class="label label-primary" href="http://www.northernexpress.com/michigan/article-6251-strange-brew-vs-traditional.html" target="_blank">Click to view article</a>
          </div>
        </div><!-- End Item -->

      </div><!-- End Carousel Inner -->


    <ul class="list-group col-sm-4">
      <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>A Winter Selection - Not as Stouty as you might expect</h4></li>
      <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>-London Craft Beer Festival-</h4></li>
      <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>How Much Art Is In Your Beer?</h4></li>
      <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>Defining Craft Beer: What Make a Craft Beer?</h4></li>
      <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>A Journey Back In Time - Going back to the Ol' Skool!</h4></li>
    </ul>

      <!-- Controls -->
      <div class="carousel-controls">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>
    </div><!-- End Carousel -->
<div class="container">
  <div class="row">
        <div class="newsletter">
        <div class="thumbnail center well well-small text-center">
                <h2>Newsletter</h2>

                <p>Subscribe to our weekly Newsletter for your weekly dose of homebrew.</p>

                <form action="" method="post">
                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" id="" name="" placeholder="your@email.com">
                    </div>
                    <br />
                    <input type="submit" value="Subscribe Now!" class="btn btn-large" />
              </form>
            </div>
        </div>
  </div>
</div>