<div class="topheader"><strong><h1>☠ 10 Craft Beers To Drink Before You Die ☠</h1><strong></div>
<div id="DIV_1">
    <p id="P_2">
    <img src="http://assets.esquire.co.uk/images/uploads/fourbythree/_1080_43/10-beers-2-43.jpg" alt="10 Beers To Try Before You Die " width="645" height="484" id="IMG_3" />
    </p>
  <div id="DIV_4">
    <p id="P_5">
      Beer. Perhaps an odd thing to create a bucket list about.
    </p>
    <p id="P_6">
      But with the number of craft beers continuing to mutiply and the tipple's popularity soaring around the world, there are more must-tries than ever before.
    </p>
    <p id="P_7">
      Here we ask Meantime Brewing’s Jack Stones – the UKs Youngest Beer Sommelier – for his pick of the ten you have to try before you die. Best get ordering.
    </p>
    <p id="P_8">
    </p>
    <p id="P_9">
       <strong id="STRONG_10">1 | Meantime Brewing, London Lager- England</strong>
    </p>
    <p id="P_11">
      <img src="http://assets.esquire.co.uk/images/uploads/fourbythree/_720_43/meantime-london-new-bodycopy.jpg" width="545" height="378" id="IMG_12" alt='' />
    </p>
    <p id="P_13">
    </p>
    <p id="P_14">
      Alastair Hook spent 20 years planning this quintessential English lager. His logic behind his process is simple: the great European lager brewers use very soft water and neutral yeasts to ensure that only the flavours of their locally grown malt and hops come to the fore. This results in a clean, long-matured, unpasteurised lager that's a true taste of England.
    </p>
    <p id="P_15">
      <br id="BR_16" /> <strong id="STRONG_17">2 | Feral Brewing Company, Karma Citra - Australia</strong><br id="BR_18" /> Championing the new India Black Ale style, the Karma Citra combines dark malts with resinous new world hops of Australia. With overtones of chocolate which enhance the tropical fruit character of the Citra hop, this ale is mellow yet tangy.
    </p>
    <p id="P_19">
      <br id="BR_20" /> <strong id="STRONG_21">3 | Three Horses Beer, Pilsener – Madagascar<br id="BR_22" /><img src="http://assets.esquire.co.uk/images/uploads/fourbythree/_720_43/three-horses-body-copy-2.jpg" width="545" height="378" id="IMG_23" alt='' /></strong>
    </p>
    <p id="P_24">
    </p>
    <p id="P_25">
      This beer is the first of its kind in Madagascar. Created using only the island’s local resources, this bottom-fermenting brew has a soft, inimitable taste.
    </p>
    <p id="P_26">
      <br id="BR_27" /> <strong id="STRONG_28">4 | Good George Brewing, White Ale - New Zealand</strong><br id="BR_29" /> Sweet orange with subtle pepper spices and creamy accents. This brew blends New Zealand botanicals to provide a subtle, spicy kick to this otherwise traditional wheat ale. This is the perfect summer brew to complement a beautiful Kiwi day.<br id="BR_30" /><br id="BR_31" /><br id="BR_32" /> <strong id="STRONG_33">5 | Four Pines, Stout – Australia</strong>
    </p>
    <p id="P_34">
       <strong id="STRONG_35"><img src="http://assets.esquire.co.uk/images/uploads/fourbythree/_720_43/four-pines-body-copy.jpg" width="545" height="378" id="IMG_36" alt='' /></strong>
    </p>
    <p id="P_37">
      Currently being tested to become the first certified ‘space beer,’ this is a dry Irish stout that’s almost black in colour. A coffee, chocolate and caramel malt aroma is matched on the pallet with a full-bodied, smooth finish, and a balancing bitterness.
    </p>
    <p id="P_38">
      <br id="BR_39" /> <strong id="STRONG_40">6 | Cambrew Brewery, Angkor Beer – Cambodia</strong><br id="BR_41" /> A traditional Cambodian Lager combining a light, hoppy aroma with a gentle bitterness. This creates a smoothness that gives a pleasant and light after taste.<br id="BR_42" /><br id="BR_43" /><br id="BR_44" /> <strong id="STRONG_45">7 | Meantime Brewing Yakima Red - England</strong>
    </p>
    <p id="P_46">
       <strong id="STRONG_47"><img src="http://assets.esquire.co.uk/images/uploads/fourbythree/_720_43/meantime-yakima-red-body-copy.jpg" width="545" height="378" id="IMG_48" alt='' /></strong>
    </p>
    <p id="P_49">
      A truly international ale, Yakima Red uses five hops from the Yakima Valley, Washington State. These are brewed together with a rich-flavoured UK ale and a mix of crystal and German caramel malt, for a deep ruby-red colour and medium-to-full-bodied complexion. Tropical fruit notes and an edge of grapefruit and clementine give this beer an extra something.<br id="BR_50" /><br id="BR_51" /><br id="BR_52" /> <strong id="STRONG_53">8 | Weihenstephaner, Wheat beer– Germany</strong>
    </p>
    <p id="P_54">
       <strong id="STRONG_55"><img src="http://assets.esquire.co.uk/images/uploads/fourbythree/_720_43/Weihenstephaner,_Wheat_beer.jpg" width="545" height="378" id="IMG_56" alt='' /></strong>
    </p>
    <p id="P_57">
      <br id="BR_58" /> The finest of wheat beers are created by the Bavarians, and have a unique flavour and aroma. A naturally cloudy weissbeer, this is a bitter brew that lingers strongly on the palette.
    </p>
    <p id="P_59">
      <br id="BR_60" /> <strong id="STRONG_61">9 | Victory Brewing, Hop Wallop – USA</strong>
    </p>
    <p id="P_62">
       <strong id="STRONG_63"><img src="http://assets.esquire.co.uk/images/uploads/fourbythree/_720_43/victory-hop-wallace-body-copy.jpg" width="545" height="378" id="IMG_64" alt='' /></strong>
    </p>
    <p id="P_65">
      Created in memory of the legend of Horace ‘Hop’ Wallop, who chucked two fistfuls of barley and three of wild hops into a pan of water, before falling asleep and waking up to a bubbling concoction. This homage is an exotic mix of whole flower American and English hops, and offers a pungent aroma of mint and pine with a silky malt base.
    </p>
    <p id="P_66">
      <br id="BR_67" /> <strong id="STRONG_68">10 | Eisenbahn, Dunkel – Brazil</strong>
    </p>
    <p id="P_69">
       <strong id="STRONG_70"><img src="http://assets.esquire.co.uk/images/uploads/fourbythree/_720_43/dunkel-body-copy.jpg" width="545" height="378" id="IMG_71" alt='' /></strong>
    </p>
    <p id="P_72">
      A dark lager, the Dunkel is unlike usual Brazilian brews which are sweetened with caramel. This brew is made with imported roasted malts, creating a flavour of coffee and chocolate that reflects the increasing influence of Europe on Brazilian ale.
    </p>
  </div>
</div>
