<h1>Listing Breweries and Pubs</h1>

<div id="map"></div>

<div id="sidebar">
  <% @breweries.each do |brewery| %>
    <h2><%= brewery.name %></h2>
    <p><%= brewery.description %></p>
    <hr>
  <% end %>
</div>


