/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require journal/loader
 *= require journal/bootswatch
 */

@font-face {
  font-family: "Capsmall";
  src: url("/assets/capsmall.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Koyu";
  src: url("/assets/futura koyu.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Oblique";
  src: url("/assets/futura oblique.ttf") format("truetype");
}


body {
  background: url(Old_Bricks_by_BlindScientist.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar-brand {
  font-family: "capsmall";
  font-size: 83px;
  color: #FFF;
  float: left;
  padding-top: 100px;

}





.navbar-inverse .navbar-brand {
  color: #FFF;
}

#listen {
  font-family: "Futura Koyu";
  font-size: 25px;
}

.parent {
  font-family: "Futura Oblique";
  font-size: 25px;
}

.navbar-content  {
  font-family: "Futura Koyu";
  font-size: 18px;
  float: right;
  list-style-type: none;
  margin-bottom: 0px;
  color: #FFF;
}

.navbar-content a {
  color: #B7B8BC;
}

.navbar-content a:hover {
  color: #FFF;
  text-decoration: none;
}

.navbar-content ul {
  color: #FFF;
}

#myCarousel .carousel-caption {
  left:0;
  right:0;
  bottom:0;
  text-align:left;
  padding:10px;
  background:rgba(0,0,0,0.6);
  text-shadow:none;
}

#myCarousel .list-group {
  position:absolute;
  top:0;
  right:0;
}
#myCarousel .list-group-item {
  border-radius:0px;
  cursor:pointer;
}
#myCarousel .list-group .active {
  background-color:#eee;
}

@media (min-width: 992px) {
  #myCarousel {padding-right:33.3333%;}
  #myCarousel .carousel-controls {display:none;}
}
@media (max-width: 991px) {
  .carousel-caption p,
  #myCarousel .list-group {display:none;}
}

.arrow-up, .arrow-down {
  font-size: 18px;
}

.parent h2 {
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
