// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  margin-left: auto;
  margin-right: auto;
}

.caption a {
  float: right;
  width: 60%;
  text-align: center;
}

.buttonbuy {
  width: 15px;
}