// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video {
  float: right;
  padding-right: 30px;
}


#myCarousel {
  font-family: "Futura Oblique";
  font-size: 25px;
}

.well {
  background-image: url("/assets/FileItem-266529-Beertaps1copy.jpg");
  font-family: "Futura Oblique";
  font-weight: 500;
}