// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video1 {
  float: right;
  padding-right: 30px;
  padding-left: 15px

}

.video2 {
  float: right;
  padding-right: 30px;
  padding-left: 15px
}

.video3 {
  float: left;
  padding-left: 180px;
}

.parent {
  font-size: 30px;
  background-color: rgba(255,255,255,0.55);
  line-height: 1em;
  max-width: 100%;
}

.content {
  color: #2C2C2C;
}


#myCarousel {
  font-family: "Futura Oblique";
  font-size: 18px;
}

.carousel-caption {
  line-height: 0.9em;
}

.well {
  background-image: url("/assets/tap-take-over2.jpg");
  font-family: "Futura Oblique";
  font-weight: 500;
  color: #FFF;
  width: 600px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #3B3734;
}


.topheader {
  background-color: #5E5A5A;
  opacity: 0.7;
  font-family: "Futura Oblique";
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  padding-left: 280px;
}

.topheader h1 {
  opacity: 1;
}


#footer {
  background-color: black;
  color: #FFF;
  padding-bottom: 5px;
  padding-top: 5px;
}

.footer1  {
  float: left;
  margin-left: 15px;

}

.footer1 a {
  color: red;
}

.TBPfooter {
  padding-right: 30px;
  margin-right: 15px;
  text-align: right;
}

#DIV_28 {
    float: right;
    padding-left: 5px;
}

#TD_59 {
    width: 280px;
}


#TD_69 {
    vertical-align: top;
}

#fontmaster {
    font-family: "Futura Oblique";
}

#P_77 {
    padding-top: 10px;
}

#DIV_1 {
    clear: both;
    color: rgb(68, 68, 68);
    position: relative;
    width: 650.171875px;
    perspective-origin: 325.078125px 3092.03125px;
    transform-origin: 325.078125px 3092.03125px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Futura Oblique";
    color: #FFF
}/*#DIV_1*/

#P_2 {
    color: rgb(68, 68, 68);
    height: 490px;
    width: 650.171875px;
    perspective-origin: 325.078125px 256px;
    transform-origin: 325.078125px 256px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 0px 22px;
    background-color: #fff;
    opacity: 0.8;
}/*#P_2*/

#IMG_3 {
    color: rgb(68, 68, 68);
    height: 488px;
    width: 650.171875px;
    perspective-origin: 325.078125px 244px;
    transform-origin: 325.078125px 244px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#IMG_3*/

#DIV_4 {
    color: rgb(68, 68, 68);
    min-height: 300px;
    width: 650px;
    perspective-origin: 325.078125px 2405px;
    transform-origin: 325.078125px 2405px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 20px 50px;
    background-color: #FFF;
    opacity: 0.8;
}/*#DIV_4*/

#P_5, #P_9, #P_13, #P_24 {
    color: rgb(68, 68, 68);
    height: 23px;
    width: 550px;
    perspective-origin: 275.078125px 11.5px;
    transform-origin: 275.078125px 11.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_5, #P_9, #P_13, #P_24*/

#P_6, #P_7, #P_25, #P_59, #P_66 {
    color: rgb(68, 68, 68);
    height: 46px;
    width: 550px;
    perspective-origin: 275.078125px 23px;
    transform-origin: 275.078125px 23px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_6, #P_7, #P_25, #P_59, #P_66*/

#P_8 {
    color: rgb(68, 68, 68);
    height: 23px;
    text-align: center;
    width: 550px;
    perspective-origin: 275.078125px 11.5px;
    transform-origin: 275.078125px 11.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_8*/

#STRONG_10, #STRONG_17, #STRONG_21, #STRONG_28, #STRONG_33, #STRONG_35, #STRONG_40, #STRONG_45, #STRONG_47, #STRONG_53, #STRONG_55, #STRONG_61, #STRONG_63, #STRONG_68, #STRONG_70 {
    color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#STRONG_10, #STRONG_17, #STRONG_21, #STRONG_28, #STRONG_33, #STRONG_35, #STRONG_40, #STRONG_45, #STRONG_47, #STRONG_53, #STRONG_55, #STRONG_61, #STRONG_63, #STRONG_68, #STRONG_70*/

#P_11, #P_34, #P_46, #P_54, #P_62, #P_69 {
    color: rgb(68, 68, 68);
    width: 550px;
    perspective-origin: 275.078125px 193.5px;
    transform-origin: 275.078125px 193.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_11, #P_34, #P_46, #P_54, #P_62, #P_69*/

#IMG_12 {
    color: rgb(68, 68, 68);
    height: 381px;
    width: 550px;
    perspective-origin: 275.078125px 190.5px;
    transform-origin: 275.078125px 190.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#IMG_12*/

#P_14, #P_15, #P_65, #P_73 {
    color: rgb(68, 68, 68);
    height: 115px;
    width: 550px;
    perspective-origin: 275.078125px 57.5px;
    transform-origin: 275.078125px 57.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_14, #P_15, #P_65, #P_73*/

#BR_16, #BR_18, #BR_20, #BR_27, #BR_30, #BR_32, #BR_39, #BR_42, #BR_44, #BR_50, #BR_52, #BR_58, #BR_67, #BR_74, #BR_76, #BR_78 {
    color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#BR_16, #BR_18, #BR_20, #BR_27, #BR_30, #BR_32, #BR_39, #BR_42, #BR_44, #BR_50, #BR_52, #BR_58, #BR_67, #BR_74, #BR_76, #BR_78*/

#P_19 {
    color: rgb(68, 68, 68);
    height: 433px;
    width: 550px;
    perspective-origin: 275.078125px 216.5px;
    transform-origin: 275.078125px 216.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_19*/

#BR_22 {
    color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#BR_22*/

#IMG_23, #IMG_36, #IMG_48, #IMG_56, #IMG_64 {
    color: rgb(68, 68, 68);
    height: 381px;
    width: 550px;
    perspective-origin: 275.078125px 190.5px;
    transform-origin: 275.078125px 190.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#IMG_23, #IMG_36, #IMG_48, #IMG_56, #IMG_64*/

#P_26, #P_49 {
    color: rgb(68, 68, 68);
    height: 184px;
    width: 550px;
    perspective-origin: 275.078125px 92px;
    transform-origin: 275.078125px 92px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_26, #P_49*/

#BR_29, #BR_31, #BR_41, #BR_51, #BR_60, #BR_75 {
    color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#BR_29, #BR_31, #BR_41, #BR_51, #BR_60, #BR_75*/

#P_37 {
    color: rgb(68, 68, 68);
    width: 550px;
    perspective-origin: 275.078125px 34.5px;
    transform-origin: 275.078125px 34.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_37*/

#P_38 {
    color: rgb(68, 68, 68);
    height: 161px;
    width: 550px;
    perspective-origin: 275.078125px 80.5px;
    transform-origin: 275.078125px 80.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
    background-color: #fff;
    opacity: 0.9;
}/*#P_38*/

#BR_43 {
    color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#BR_43*/

#P_57, #P_72 {
    color: rgb(68, 68, 68);
    height: 92px;
    width: 550px;
    perspective-origin: 275.078125px 46px;
    transform-origin: 275.078125px 46px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    margin: 0px 0px 18px;
    outline: rgb(68, 68, 68) none 0px;
}/*#P_57, #P_72*/

#IMG_71 {
    color: rgb(68, 68, 68);
    height: 381px;
    width: 550px;
    perspective-origin: 275.078125px 190.5px;
    transform-origin: 275.078125px 190.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(68, 68, 68) none 0px;
    opacity: none;
}/*#IMG_71*/

#A_77 {
    color: rgb(0, 86, 137);
    text-decoration: none;
    border: 0px none rgb(0, 86, 137);
    font: normal normal normal normal 15px/23.1000003814697px 'Benton Sans', Cambria, Georgia, serif;
    outline: rgb(0, 86, 137) none 0px;
}/*#A_77*/

#UL_79 {
    clear: both;
    color: rgb(68, 68, 68);
    float: left;
    height: 22px;
    width: 331px;
    perspective-origin: 165.5px 19px;
    transform-origin: 165.5px 19px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    margin: 0px 0px 36px 48px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 0px 16px;
}/*#UL_79*/

#LI_80 {
    color: rgb(68, 68, 68);
    float: left;
    height: 20px;
    width: 142px;
    perspective-origin: 71px 10px;
    transform-origin: 71px 10px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 5px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#LI_80*/

#FB:LIKE_81 {
    color: rgb(68, 68, 68);
    display: inline-block;
    height: 20px;
    position: relative;
    text-align: left;
    width: 126px;
    perspective-origin: 63px 10px;
    transform-origin: 63px 10px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#FB:LIKE_81*/

#SPAN_82 {
    color: rgb(68, 68, 68);
    display: inline-block;
    height: 20px;
    position: relative;
    text-align: justify;
    vertical-align: bottom;
    width: 126px;
    perspective-origin: 63px 10px;
    transform-origin: 63px 10px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#SPAN_82*/

#IFRAME_83 {
    color: rgb(68, 68, 68);
    display: block;
    height: 20px;
    position: absolute;
    text-align: justify;
    width: 126px;
    align-self: stretch;
    perspective-origin: 63px 10px;
    transform-origin: 63px 10px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#IFRAME_83*/

#LI_84 {
    color: rgb(68, 68, 68);
    float: left;
    height: 22px;
    width: 84px;
    perspective-origin: 42px 11px;
    transform-origin: 42px 11px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 5px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#LI_84*/

#IFRAME_85 {
    color: rgb(68, 68, 68);
    height: 20px;
    text-align: left;
    width: 109px;
    perspective-origin: 54.5px 10px;
    transform-origin: 54.5px 10px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#IFRAME_85*/

#SCRIPT_86, #SCRIPT_90 {
    color: rgb(68, 68, 68);
    text-align: left;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#SCRIPT_86, #SCRIPT_90*/

#LI_87 {
    color: rgb(68, 68, 68);
    float: left;
    height: 22px;
    width: 90px;
    perspective-origin: 45px 11px;
    transform-origin: 45px 11px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 5px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#LI_87*/

#DIV_88 {
    color: rgb(68, 68, 68);
    display: inline-block;
    height: 20px;
    text-align: left;
    width: 90px;
    perspective-origin: 45px 10px;
    transform-origin: 45px 10px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 1px/normal sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_88*/

#IFRAME_89 {
    color: rgb(68, 68, 68);
    height: 20px;
    left: 0px;
    text-align: left;
    top: 0px;
    width: 90px;
    perspective-origin: 45px 10px;
    transform-origin: 45px 10px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 1px/normal sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#IFRAME_89*/

#DIV_91 {
    clear: both;
    color: rgb(68, 68, 68);
    height: 541.0625px;
    width: 650.171875px;
    perspective-origin: 325.078125px 270.53125px;
    transform-origin: 325.078125px 270.53125px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_91*/

#DIV_92, #DIV_93 {
    color: rgb(68, 68, 68);
    height: 541.0625px;
    text-align: left;
    width: 650.171875px;
    perspective-origin: 325.078125px 270.53125px;
    transform-origin: 325.078125px 270.53125px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_92, #DIV_93*/

#DIV_94 {
    color: rgb(68, 68, 68);
    height: 541.0625px;
    text-align: left;
    width: 650.171875px;
    perspective-origin: 325.078125px 270.53125px;
    transform-origin: 325.078125px 270.53125px;
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_94*/

#DIV_95 {
    color: rgb(255, 255, 255);
    height: 17px;
    position: relative;
    text-align: left;
    width: 610.171875px;
    perspective-origin: 325.078125px 21px;
    transform-origin: 325.078125px 21px;
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(169, 169, 169);
    font: normal normal normal normal 15px/18px TSTARPRO-Bold, sans-serif;
    margin: 0px 0px 11px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 14px 20px 11px;
}/*#DIV_95*/

#DIV_96 {
    color: rgb(255, 255, 255);
    text-align: left;
    width: 610.171875px;
    perspective-origin: 305.078125px 0px;
    transform-origin: 305.078125px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/18px TSTARPRO-Bold, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_96*/

#DIV_97 {
    color: rgb(255, 255, 255);
    float: right;
    height: 16px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: 52.796875px;
    perspective-origin: 26.390625px 8px;
    transform-origin: 26.390625px 8px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/13.5px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_97*/

#A_98 {
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 9px/13.5px Arial, Helvetica, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_98*/

#SPAN_99, #SPAN_100 {
    color: rgb(255, 255, 255);
    text-align: left;
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 10px/13.5px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_99, #SPAN_100*/

#A_101, #A_107, #A_112 {
    color: rgb(0, 0, 0);
    display: none;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 9px/13.5px Arial, Helvetica, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_101, #A_107, #A_112*/

#SPAN_102, #SPAN_103, #SPAN_106, #SPAN_111 {
    color: rgb(255, 255, 255);
    text-align: left;
    white-space: nowrap;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 10px/13.5px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_102, #SPAN_103, #SPAN_106, #SPAN_111*/

#DIV_104, #DIV_109 {
    color: rgb(255, 255, 255);
    display: none;
    float: right;
    height: auto;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/13.5px Arial, Helvetica, sans-serif;
    margin: 0px 2px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_104, #DIV_109*/

#A_105, #A_110 {
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 9px/13.5px Arial, Helvetica, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_105, #A_110*/

#SPAN_108, #SPAN_113 {
    color: rgb(255, 255, 255);
    text-align: left;
    white-space: nowrap;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 10px/13.5px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_108, #SPAN_113*/

#SPAN_114, #SPAN_115 {
    color: rgb(255, 255, 255);
    text-align: left;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/18px TSTARPRO-Bold, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_114, #SPAN_115*/

#SPAN_116 {
    color: rgb(255, 255, 255);
    display: none;
    text-align: left;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/18px TSTARPRO-Bold, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_116*/

#DIV_117 {
    color: rgb(68, 68, 68);
    height: 485.0625px;
    text-align: left;
    width: 663.171875px;
    perspective-origin: 331.578125px 242.53125px;
    transform-origin: 331.578125px 242.53125px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    margin: 0px 0px 0px -13px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_117*/

#DIV_118 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 485.0625px;
    position: relative;
    text-align: left;
    width: 663.171875px;
    perspective-origin: 331.578125px 242.53125px;
    transform-origin: 331.578125px 242.53125px;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 10px/12px sans-serif;
    margin: 0px 0px 3px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: auto;
    padding: 0px 20px;
    background-color: #FFF;
    opacity: 0.8
}/*#DIV_118*/

#DIV_119 {
    color: rgb(68, 68, 68);
    text-align: left;
    width: 623.171875px;
    perspective-origin: 311.578125px 0px;
    transform-origin: 311.578125px 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_119*/

#DIV_120, #DIV_132, #DIV_144, #DIV_156, #DIV_168, #DIV_180 {
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 230.078125px;
    position: relative;
    text-align: left;
    width: 195.234375px;
    perspective-origin: 97.609375px 115.03125px;
    transform-origin: 97.609375px 115.03125px;
    border: 0px none rgb(214, 213, 211);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 12.453125px 12.453125px;
    overflow: hidden;
}/*#DIV_120, #DIV_132, #DIV_144, #DIV_156, #DIV_168, #DIV_180*/

#A_121, #A_126, #A_133, #A_138, #A_145, #A_150, #A_157, #A_162, #A_169, #A_174, #A_181, #A_186 {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_121, #A_126, #A_133, #A_138, #A_145, #A_150, #A_157, #A_162, #A_169, #A_174, #A_181, #A_186*/

#DIV_122, #DIV_134, #DIV_146, #DIV_158, #DIV_170, #DIV_182 {
    cursor: pointer;
    height: 160.078125px;
    position: relative;
    text-align: left;
    width: 195.234375px;
    perspective-origin: 97.609375px 80.03125px;
    transform-origin: 97.609375px 80.03125px;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
}/*#DIV_122, #DIV_134, #DIV_146, #DIV_158, #DIV_170, #DIV_182*/

#SPAN_123 {
    background-position: 50% 50%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    height: 155.078125px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 195.234375px;
    align-self: stretch;
    perspective-origin: 97.609375px 77.53125px;
    transform-origin: 97.609375px 77.53125px;
    background: rgba(0, 0, 0, 0) url(http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_154%2Cw_194%2Cc_fill%2Cg_face%2Ce_sharpen/http%3A//www.esquire.co.uk/images/esquire/esquire-logo-black.png) no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 5px;
    overflow: hidden;
}/*#SPAN_123*/

#SPAN_124, #SPAN_136, #SPAN_148, #SPAN_160, #SPAN_172, #SPAN_184 {
    background-position: 5% 5%;
    cursor: pointer;
    display: block;
    height: 0px;
    position: absolute;
    text-align: left;
    width: 0px;
    z-index: 50;
    align-self: stretch;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 5% 5% / auto padding-box border-box;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
}/*#SPAN_124, #SPAN_136, #SPAN_148, #SPAN_160, #SPAN_172, #SPAN_184*/

#DIV_125, #DIV_137, #DIV_149, #DIV_161, #DIV_173, #DIV_185 {
    cursor: pointer;
    text-align: left;
    width: 195.234375px;
    perspective-origin: 97.609375px 80.03125px;
    transform-origin: 97.609375px 80.03125px;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    padding: 0px 0px 160.078125px;
}/*#DIV_125, #DIV_137, #DIV_149, #DIV_161, #DIV_173, #DIV_185*/

#SPAN_127, #SPAN_139, #SPAN_151, #SPAN_163, #SPAN_175, #SPAN_187 {
    cursor: pointer;
    display: block;
    height: 70px;
    text-align: left;
    width: 195.234375px;
    perspective-origin: 97.609375px 35px;
    transform-origin: 97.609375px 35px;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
}/*#SPAN_127, #SPAN_139, #SPAN_151, #SPAN_163, #SPAN_175, #SPAN_187*/

#SPAN_128, #SPAN_140, #SPAN_152, #SPAN_164, #SPAN_188 {
    cursor: pointer;
    display: -webkit-box;
    height: 36px;
    max-height: 72px;
    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    width: 195.234375px;
    word-wrap: break-word;
    perspective-origin: 97.609375px 18px;
    transform-origin: 97.609375px 18px;
    font: normal normal bold normal 13px/18px helvetica, arial, sans-serif;
    overflow: hidden;
}/*#SPAN_128, #SPAN_140, #SPAN_152, #SPAN_164, #SPAN_188*/

#DIV_129, #DIV_141, #DIV_153, #DIV_165, #DIV_177, #DIV_189 {
    background-position: 0px 0px;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 2px;
    text-align: left;
    top: 2px;
    visibility: hidden;
    width: 12px;
    z-index: 9000;
    align-self: stretch;
    perspective-origin: 6px 6px;
    transform-origin: 6px 6px;
    background: rgba(0, 0, 0, 0) url(http://cdn.taboola.com/libtrc/static/thumbnails/f539211219b796ffbb49949997c764f0.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
}/*#DIV_129, #DIV_141, #DIV_153, #DIV_165, #DIV_177, #DIV_189*/

#DIV_130, #DIV_142, #DIV_154, #DIV_166, #DIV_178, #DIV_190 {
    cursor: default;
    height: 230.078125px;
    left: 0px;
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 0px;
    visibility: hidden;
    width: 195.234375px;
    z-index: 10000;
    align-self: stretch;
    perspective-origin: 97.609375px 115.03125px;
    transform-origin: 97.609375px 115.03125px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
}/*#DIV_130, #DIV_142, #DIV_154, #DIV_166, #DIV_178, #DIV_190*/

#DIV_131, #DIV_143, #DIV_155, #DIV_167, #DIV_179, #DIV_191 {
    color: rgb(51, 102, 204);
    cursor: pointer;
    height: 14px;
    position: absolute;
    right: 2px;
    text-align: left;
    text-decoration: underline;
    top: 2px;
    visibility: hidden;
    width: 26.296875px;
    z-index: 11000;
    align-self: stretch;
    perspective-origin: 14.140625px 7px;
    transform-origin: 14.140625px 7px;
    border: 0px none rgb(51, 102, 204);
    font: normal normal normal normal 11px/14px Arial, Helvetica, sans-serif;
    outline: rgb(51, 102, 204) none 0px;
    padding: 0px 1px;
}/*#DIV_131, #DIV_143, #DIV_155, #DIV_167, #DIV_179, #DIV_191*/

#SPAN_135 {
    background-position: 50% 50%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    height: 155.078125px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 195.234375px;
    align-self: stretch;
    perspective-origin: 97.609375px 77.53125px;
    transform-origin: 97.609375px 77.53125px;
    background: rgba(0, 0, 0, 0) url(http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_154%2Cw_194%2Cc_fill%2Cg_face%2Ce_sharpen/http%3A//assets.esquire.co.uk/images/uploads/fourbythree/_540_43/articleimage_2614.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 5px;
    overflow: hidden;
}/*#SPAN_135*/

#SPAN_147 {
    background-position: 50% 50%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    height: 155.078125px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 195.234375px;
    align-self: stretch;
    perspective-origin: 97.609375px 77.53125px;
    transform-origin: 97.609375px 77.53125px;
    background: rgba(0, 0, 0, 0) url(http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_154%2Cw_194%2Cc_fill%2Cg_face%2Ce_sharpen/http%3A//assets.esquire.co.uk/images/uploads/fourbythree/_540_43/tight-trousers-43.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 5px;
    overflow: hidden;
}/*#SPAN_147*/

#SPAN_159 {
    background-position: 50% 50%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    height: 155.078125px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 195.234375px;
    align-self: stretch;
    perspective-origin: 97.609375px 77.53125px;
    transform-origin: 97.609375px 77.53125px;
    background: rgba(0, 0, 0, 0) url(http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_154%2Cw_194%2Cc_fill%2Cg_face%2Ce_sharpen/http%3A//assets.esquire.co.uk/images/uploads/fourbythree/_540_43/instagram-girls-3-jan-43.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 5px;
    overflow: hidden;
}/*#SPAN_159*/

#SPAN_171 {
    background-position: 50% 50%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    height: 155.078125px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 195.234375px;
    align-self: stretch;
    perspective-origin: 97.609375px 77.53125px;
    transform-origin: 97.609375px 77.53125px;
    background: rgba(0, 0, 0, 0) url(http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_154%2Cw_194%2Cc_fill%2Cg_face%2Ce_sharpen/http%3A//assets.esquire.co.uk/images/uploads/fourbythree/_540_43/glenmorangie-promotion-43.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 5px;
    overflow: hidden;
}/*#SPAN_171*/

#SPAN_176 {
    cursor: pointer;
    display: -webkit-box;
    height: 18px;
    max-height: 72px;
    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    width: 195.234375px;
    word-wrap: break-word;
    perspective-origin: 97.609375px 9px;
    transform-origin: 97.609375px 9px;
    font: normal normal bold normal 13px/18px helvetica, arial, sans-serif;
    overflow: hidden;
}/*#SPAN_176*/

#SPAN_183 {
    background-position: 50% 50%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    height: 155.078125px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 195.234375px;
    align-self: stretch;
    perspective-origin: 97.609375px 77.53125px;
    transform-origin: 97.609375px 77.53125px;
    background: rgba(0, 0, 0, 0) url(http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_154%2Cw_194%2Cc_fill%2Cg_face%2Ce_sharpen/http%3A//assets.esquire.co.uk/images/uploads/fourbythree/_540_43/bum-cleavage-getty-43.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 5px;
    overflow: hidden;
}/*#SPAN_183*/

#DIV_192, #DIV_204 {
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    float: left;
    height: auto;
    position: relative;
    text-align: left;
    visibility: hidden;
    width: 31.3299999237061%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(214, 213, 211);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 2% 2%;
    overflow: hidden;
}/*#DIV_192, #DIV_204*/

#A_193, #A_198, #A_205, #A_210 {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    visibility: hidden;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_193, #A_198, #A_205, #A_210*/

#DIV_194, #DIV_206 {
    cursor: pointer;
    height: auto;
    position: relative;
    text-align: left;
    width: 100%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
}/*#DIV_194, #DIV_206*/

#SPAN_195 {
    background-position: 50% 50%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_154%2Cw_194%2Cc_fill%2Cg_face%2Ce_sharpen/http%3A//assets.esquire.co.uk/images/uploads/fourbythree/_540_43/Weisz_red_dress_car.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 5px;
    overflow: hidden;
}/*#SPAN_195*/

#SPAN_196, #SPAN_208 {
    background-position: 5% 5%;
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: left;
    visibility: hidden;
    z-index: 50;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 5% 5% / auto padding-box border-box;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
}/*#SPAN_196, #SPAN_208*/

#DIV_197, #DIV_209 {
    cursor: pointer;
    height: auto;
    text-align: left;
    width: 100%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    padding: 0px 0%;
}/*#DIV_197, #DIV_209*/

#SPAN_199, #SPAN_211 {
    cursor: pointer;
    display: block;
    height: 70px;
    text-align: left;
    visibility: hidden;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
}/*#SPAN_199, #SPAN_211*/

#SPAN_200, #SPAN_212 {
    cursor: pointer;
    display: block;
    max-height: 72px;
    overflow-wrap: break-word;
    text-align: left;
    visibility: hidden;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal bold normal 13px/18px helvetica, arial, sans-serif;
}/*#SPAN_200, #SPAN_212*/

#DIV_201, #DIV_213 {
    background-position: 0px 0px;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 2px;
    text-align: left;
    top: 2px;
    width: 12px;
    z-index: 9000;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(http://cdn.taboola.com/libtrc/static/thumbnails/f539211219b796ffbb49949997c764f0.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
}/*#DIV_201, #DIV_213*/

#DIV_202, #DIV_214 {
    cursor: default;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 100%;
    z-index: 10000;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
}/*#DIV_202, #DIV_214*/

#DIV_203, #DIV_215 {
    color: rgb(51, 102, 204);
    cursor: pointer;
    height: auto;
    position: absolute;
    right: 2px;
    text-align: left;
    text-decoration: underline;
    top: 2px;
    visibility: hidden;
    width: auto;
    z-index: 11000;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 102, 204);
    font: normal normal normal normal 11px/14px Arial, Helvetica, sans-serif;
    outline: rgb(51, 102, 204) none 0px;
    padding: 0px 1px;
}/*#DIV_203, #DIV_215*/

#SPAN_207 {
    background-position: 50% 50%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    visibility: hidden;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_154%2Cw_194%2Cc_fill%2Cg_face%2Ce_sharpen/http%3A//assets.esquire.co.uk/images/uploads/fourbythree/_540_43/eight-watches-43.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px solid rgb(169, 169, 169);
    font: normal normal normal normal 11px/13.1999998092651px sans-serif;
    margin: 0px 0px 5px;
    overflow: hidden;
}/*#SPAN_207*/

#DIV_216 {
    clear: both;
    color: rgb(68, 68, 68);
    text-align: left;
    visibility: hidden;
    width: 650.171875px;
    perspective-origin: 325.078125px 0px;
    transform-origin: 325.078125px 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 0px/0px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_216*/

#SCRIPT_217 {
    color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#SCRIPT_217*/

#DIV_218 {
    clear: both;
    color: rgb(68, 68, 68);
    height: 146px;
    width: 650.171875px;
    perspective-origin: 325.078125px 105.5px;
    transform-origin: 325.078125px 105.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 15px 0px 50px;
}/*#DIV_218*/

#DIV_219 {
    color: rgb(68, 68, 68);
    display: inline-block;
    height: 146px;
    position: relative;
    width: 650.171875px;
    perspective-origin: 325.078125px 73px;
    transform-origin: 325.078125px 73px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_219*/

#SPAN_220 {
    color: rgb(68, 68, 68);
    display: inline-block;
    height: 144px;
    position: relative;
    text-align: justify;
    width: 650.171875px;
    perspective-origin: 325.078125px 72px;
    transform-origin: 325.078125px 72px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#SPAN_220*/

#IFRAME_221 {
    color: rgb(68, 68, 68);
    display: block;
    height: 144px;
    position: absolute;
    text-align: justify;
    width: 585.140625px;
    align-self: stretch;
    perspective-origin: 325.0625px 77px;
    transform-origin: 325.0625px 77px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 10px/12px sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
    padding: 5px 32.5px;
}/*#IFRAME_221*/


