<div id="categories_list">
  <a href="<%= url_for Category.find_by_name('Craft Beer') %>">
    <div id="craft_beers" class="cat_image"><div class='cat_name'>Craft Beers</div></div>
  </a>
  <a href="<%= url_for Category.find_by_name('Brewing Kits') %>">
    <div id="brew_kits" class="cat_image"><div class='cat_name'>Brew Kits</div></div>
  </a>
  <a href="<%= url_for Category.find_by_name('Ingredients') %>">
    <div id="ingredients" class="cat_image"><div class='cat_name'>Ingredients</div></div>
  </a>
  <a href="<%= url_for Category.find_by_name('Accessories') %>">
    <div id="accessories" class="cat_image"><div class='cat_name'>Accessories</div></div>
  </a>
</div>



